html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.site-main {
    flex: 1; /* chính main chiếm khoảng trống */
    background-color: #000000;
    padding: 120px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* chỉ căn nội dung, không flex */
}

.site-main-64{
    flex: 1; /* chính main chiếm khoảng trống */
    padding: 64px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .site-main {
        padding: 64px 0;
    }
}
