.comment {
  padding: 24px;
  background-color: var(--neutral-800);
  border-radius: 8px;
  border: 1px solid var(--neutral-600);
}

/* Mỗi comment riêng biệt */
.comment-item {
  display: block;
}

/* Tạo khoảng cách giữa các comment */
.comment-item + .comment-item {
  margin-top: 24px;
}

/* Header */
.comment__header {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.comment__content {
  color: var(--neutral-100);
}


/* Actions */
.comment__actions {
  margin-left: 60px;
  display: flex;
  gap: 8px;
}

/* =========
   Reply form
   ========= */
.comment__reply--left {
  margin-left: 60px;
  margin-top: 24px;
}

.gap-input {
  margin-bottom: 12px;
}

.comment__btn {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
